# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Virtual machine crash logs
hs_err_pid*

# IDE files
.vscode/
.idea/
*.iml

# Build directories
bin/
target/
build/
